<div class="wrapper">

    <a class="site-title" href="{{ site.url }}{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.title[page.lang] }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% assign pages=site.pages | where:"lang", page.lang %}
        {% for my_page in pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}

  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %} <a class="page-language" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
      </div>
    </nav>
  </div>